{
    "presets": ["@babel/preset-env"],
   "plugins": [
       "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        "transform-remove-strict-mode",
        ["component",
            {
                "libraryName": "mint-ui",
                "style": true
            }
        ]
        
    ],
    "ignore":["./src/lib/mui/js/mui.min.js"],
    
}